{% extends "base_site.html" %}

{% block title %} Main{% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="col-md-3 left_col">
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>Emotive Project</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
    <form id="demo-form" action=""  method="post" enctype="multipart/form-data" data-parsley-validate>
        <label for="email">Enter Customer phone number :</label>
        <input type="text" id="number" class="form-control" name="number" style="width:90%" data-parsley-trigger="change" required />
        
        <br/>
        <label>Product Type</label>
        <br/>
          <div>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" name="prodType" value="Lime"> Lime
              </label>
              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" name="prodType" value="Cherry"> Cherry
              </label>
              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" name="prodType" value="Vanilla"> Vanilla
              </label>
            </div>
          </div>
        <br/>
        <label for="fullname">Customer Name :</label>
        <input type="text" id="fullname" class="form-control" name="fullname" style="width:90%" required />
        <br/>
        <button class="btn btn-primary" id="sendSMS">Send SMS</button>
    </form>
    
    </div>
  </div>
  <!-- /sidebar menu -->
   
  </div>
</div>  
  <div class="right_col" role="main">
    <div class="row">
        </br>
        </br>
        <h4 style="margin-top:50px">First Automated Message</h4>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
    <!-- modals -->
            <!-- Large modal -->
            <span id="first-message-title">{{first_message}}</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".first-message" style="float:right;">Edit</button>

            <div class="modal fade first-message" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Message</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Edit Text</label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="first-message-mod" type="text" class="form-control col-md-12 col-xs-12" value="{{first_message}}"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-mod-first">Save changes</button>
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>  
      
    </div>
    <div class="row">
        <h4>If positive response </h4>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
    <!-- modals -->
            <!-- Large modal -->
            <span id="pos"> {{positive}}</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".positive-message" style="float:right;">Edit</button>

            <div class="modal fade positive-message" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Edit Text</label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="pos-mod" type="text" class="form-control col-md-12 col-xs-12" value="{{positive}}"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-mod-pos">Save changes</button>
                  </div>

                </div>
              </div>
            </div>
         </div>
         </div>
     </div>    
    <div class="row">
        <h4>If negative response </h4>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
    <!-- modals -->
    
            <!-- Large modal -->
            <span id="neg">{{negative}}</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".negative-message" style="float:right;">Edit</button>

            <div class="modal fade negative-message" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Edit Text</label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <input id="neg-mod" type="text" class="form-control col-md-12 col-xs-12" value="{{negative}}"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-mod-neg">Save changes</button>
                  </div>

                </div>
              </div>
            </div>
         </div>
         </div>  
        
      
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- custom.js -->
  <script src="{{ url_for('static', filename='build/js/custom_change.js') }}"></script>
  
{% endblock javascripts %}
