<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>Emotive Project</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2> {{ current_user.username }} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
    <!--
    <form id="demo-form" action="/home/index"  method="post" enctype="multipart/form-data" data-parsley-validate>
        <label for="email">Enter Customer phone number :</label>
        <input type="text" id="number" class="form-control" name="number" style="width:90%" data-parsley-trigger="change" required />
        
        <br/>
        <label>Product Type</label>
        <br/>
          <div>
            <div id="gender" class="btn-group" data-toggle="buttons">
              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" name="gender" value="male"> Lime
              </label>
              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" name="gender" value="female"> Cherry
              </label>
              <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                <input type="radio" name="gender" value="vanilla"> Vanilla
              </label>
            </div>
          </div>
        <br/>
        <label for="fullname">Full Name * :</label>
        <input type="text" id="fullname" class="form-control" name="fullname" style="width:90%" required />
        <br/>
        <buttton class="btn btn-primary" id="sendSMS">Send SMS</button>
    </form>
    -->
    </div>
  </div>
  <!-- /sidebar menu -->
   
  </div>
